<!DOCTYPE html>
<html lang="en">
    <style>
        body {
          background: linear-gradient(to right, #f0f2f5, #c9d6ff);
        }
        button{
          display: inline-block;
          padding: 10px 20px;
          background-color: #007bff;
          color: white;
          text-decoration: none;
          border-radius: 5px;
          font-weight: bold;
          transition: background-color 0.2s ease;
        }
      
        .button-link:hover {
          background-color: #0056b3;
        }
    
    </style>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
        
        {% block styles %}{% endblock %}
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>