{% extends "base.html"%}

{% block head %}
<title> New inheritance idea for making pages</title>
{%endblock%}

<!-- These lines use the jango API to allow more intelegent HTML implementations.
 Here specifically, they are used to extend base.html to make this file more simple,
 by hiding all of the unimportant, yet manditory HTML syntax.-->
{% block body %}

<div class = "content">
    <h1>CS 351 Project</h1>

    {% if not userIsAuthenticated %}
        Please log in to access database functions.
    {% endif %}

    <form action="/login" method="POST">
        <input type = "submit" value = "{{ loginButton }}" id = "btn_add" />
    </form>

    <form action="/repView" method="GET">
        <input type = "submit" value = "View/Edit Reps" id = "btn_rep"/>
    </form>

    <form action="/report" method="GET">
        <input type = "submit" value = "View Rep Report" id = "btn_report"/>
    </form>
    <form action="/customerReport" method="post">
        <input type = "submit" value = "View Customer Report" id = "btn_cust_report" />
    </form>
    <form action="/creditUpdate" method="post">
        <input type = "submit" value = "Update Credit Limit" id = "btn_credit_update" />

    <style>
        .content{
            text-align: center;
            border-style: solid;
            max-width: 400px;
            margin: 10px auto;
            border-radius: 10px;
        }

        table{
            margin-left: 20px;
            margin-right: 20px;
            border-style: solid;
            border-spacing: 10px;
            border-radius: 10px;
            margin: 20px auto;
        }

        input{
            margin: 10px auto;
        }

        .divider{
            border: none;
            height: 2px;
            background-color: black;
            width: 100%;
            margin: 10px 0 10px 0;
        }
    </style>
</div>
{%endblock%}