<!-- This file extends base.html for the ease of creating future pages if ever needed. 
 I dont think that will be needed in this project, but still. -->

{% extends "base.html"%}

{% block head %}
<title> New inheritance idea for making pages</title>
{%endblock%}

<!-- These lines use the jango API to allow more intelegent HTML implementations.
 Here specifically, they are used to extend base.html to make this file more simple,
 by hiding all of the unimportant, yet manditory HTML syntax.-->
{% block body %}

<div class = "content">
    <h1>CS 351 Log In</h1>
    <style>
        .content{
            text-align: center;
            border-style: solid;
            max-width: 400px;
            margin: 10px auto;
            border-radius: 10px;
        }

        table{
            margin-left: 20px;
            margin-right: 20px;
            border-style: solid;
            border-spacing: 10px;
            border-radius: 10px;
            margin: 20px auto;
        }

        input{
            /* margin: 20px auto; */
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .divider{
            border: none;
            height: 2px;
            background-color: black;
            width: 100%;
            margin: 10px 0 20px 0;
        }
    </style>

    <hr class="divider">

    <!-- Place to take in input from the user from the home page  (Action says where the data should be sent when submitted, method states how.)-->
    <form action="/" method="POST">
        <input type = "text" name = "password" id = "log" />
    </form>
    <form action="/" method="POST">
        <input type = "text" name = "password" id = "pass" />
        <input type = "submit" value = "Add Data" id = "btn_add" />
    </form>
</div>
{%endblock%}